@import url(//fonts.googleapis.com/css?family=Lato:300:400);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@200..1000&family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



body {
  margin:0;
  background-color: rgb(6, 3, 40); 
  overflow-y:visible;
  text-align: center;
  word-spacing: 2px;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #000000;
  text-align: center;
  user-select: none;                                                                                 
  
}
 
h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: 700;
  font-style: normal;  letter-spacing: 1px;
  font-size: 70px;
  color:#f2f5f7;
  }


p {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size:14px;
  color: #333333;
  text-align: justify;
  user-select: none;
  
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size:54px;
  color: #000000;
  user-select: none;

}

h3 {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: 34px;
  color: #333333;
  text-align: center;
  margin: 15vh;
  user-select: none;

  
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;  letter-spacing: 1px;
  font-size: 100px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: 15vh;
  user-select: none;
  background: linear-gradient(60deg, rgb(58, 71, 183) 0%, rgb(23, 214, 239) 100%);
  width: 100%;
  height: 240px;
  border: linear-gradient(60deg, rgb(58, 71, 183) 0%, rgb(23, 214, 239) 100%);
  border-radius: 45px;;



  
}

h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;  letter-spacing: 1px;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-content: center;
  margin: 15vh;
  user-select: none;
  background: linear-gradient(60deg, rgb(58, 71, 183) 0%, rgb(23, 214, 239) 100%);
  width: 70%;
  height: 140px;
  border: linear-gradient(60deg, rgb(58, 71, 183) 0%, rgb(23, 214, 239) 100%);
  border-radius: 45px;;

  
}


.header {
  margin: 0;
  position:relative;
  text-align:center;
  background: linear-gradient(360deg, rgb(42, 2, 56) 0%, rgb(6, 3, 40) 100%); 
  color:rgb(255, 255, 255);
}

.logo {
  width:100px;
  fill:rgb(223, 138, 0);
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: rgb(255, 255, 255);
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

nav{
  height: 6rem;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  position: fixed;
  z-index: 10;
  
}
/*Styling Links*/
.nav-links{
  display: flex;
  list-style: none; 
  width: 100vw;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
}
.nav-links li a{
  text-decoration: none;
  color: #f2f5f7;
  font-weight: bolder;

}
.nav-links li a:hover {
  color: #f2f5f7;
}
.nav-links li {
  position: relative;
}
.nav-links li a::before {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: #f2f5f7;
  position: absolute;
  transition: all ease-in-out 250ms;
  margin: 0 0 0 10%;
}
.nav-links li a:hover::before{
  width: 80%;
}

/*Styling Hamburger Icon*/
.hamburger div{
  width: 30px;
  height:3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger{
  display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
  nav{
      position: fixed;
      z-index: 3;
  }
  .hamburger{
      display:block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
  }
  .nav-links{
      position: fixed;
      background: #131418;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
  }
  .nav-links.open{
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
  }
  .nav-links li{
      opacity: 0;
  }
  .nav-links li:nth-child(1){
      transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2){
      transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3){
      transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4){
      transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5){
      transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6){
      transition: all 0.5s ease 0.9s;
      margin: 0;
  }
  .nav-links li:nth-child(7){
      transition: all 0.5s ease 1s;
      margin: 0;
  }
  li.fade{
      opacity: 1;
  }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  transition: all 0.7s ease;
  width:0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}